* {margin: 0; padding: 0;}
body {
    background:#fffffa;
}
header {
    width: 100%;
    overflow: hidden;
    background: #00c;
    margin-bottom: 20px;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;  
}

.header nav {
    float: center;
    display: flex;
    line-height: 200px;
    justify-content: center;


}
.header nav a {
    display: inline-block;
    color: #ffff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.header nav a:hover{
    background:#f56f3a;
    border-radius: 50px;

}
.header2 {
    position: fixed;
    height: 100px;

}

.header2 div nav{
    line-height: 100px;
}
.header2 {
    height: auto;
}
section{

    overflow: hidden;
    background: green;
   

 }
.vj {
    display: inline-block;
    justify-content: left;
    padding-left: 250px;
    background-color: red;
    width: 100%;

}
.vj p{

    justify-content: right;
    text-align: left;
    width: 400px;
    height: 100px;
    padding-left: 15px;
    
}

    div img{
    width:180px;
    height: 120px;
    display: inline-block;
}
section div {
    width: 200px;
    height: 100px;
}